.card {
  width: 100%;
  position: relative;

  &__picture {
    width: 100%;
    height: clamp(250px, 32.42vw, 340px);
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
  &__title {
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding-right: 15px;
  }
}
