@import "../../utils/scss/variables.scss";
.globalContainer {
  .contentContainer {
    .title {
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
    }
    .location {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }
  }
  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
  }
  .starHostContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .collapseContainer {
    margin-bottom: 30px;
  }
}
@media (min-width: 480px) {
  .globalContainer {
    .contentContainer {
      .title {
        font-size: 24px;
      }
    }
  }
}
@media (min-width: 768px) {
  .globalContainer {
    .contentContainer {
      .title {
        font-size: 26px;
      }
      .location {
        font-size: 16px;
        margin-bottom: 15px;
      }
      .content {
        display: flex;
        justify-content: space-between;
      }
    }
    .starHostContainer {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 20px;
    }
    .collapseContainer {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
  }
}
@media (min-width: 1024px) {
  .globalContainer {
    .contentContainer {
      .title {
        font-size: 30px;
      }
    }
    .collapseContainer {
      gap: 50px;
    }
  }
}
@media (min-width: 1440px) {
  .globalContainer {
    .contentContainer {
      .title {
        font-size: 36px;
      }
      .location {
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    .collapseContainer {
      gap: 75px;
    }
  }
}
