.carouselContainer {
  position: relative;
  padding: 0 20px 10px;
  .carousel {
    width: 100%;
    min-height: 255px;
    max-height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }
  .arrowLeft {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
  }
  .arrowRight {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
  }
  .tagline {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
}
