@import "../../utils/scss/variables.scss";

.collapse {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  .collapseHeader {
    width: 100%;
    height: 30px;
    background-color: $primary-color;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .collapseTitle {
      color: white;
      font-size: 14px;
      font-weight: 700;
    }
    .icon {
      rotate: 90deg;
    }
  }
  .collapseContent {
    font-size: 12px;
    padding: 15px;
    background-color: #f6f6f673;
    border-radius: 0 0 5px 5px;
  }
}
