@import "../../utils/scss/variables.scss";

.hostNameContainer {
  display: flex;
  align-items: center;
  .hostName {
    font-size: 12px;
    font-weight: 500;
    color: $primary-color;
    text-align: right;
    margin-right: 10px;
  }
  .hostImage {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
  }
}
@media (min-width: 480px) {
  .hostNameContainer {
    .hostName {
      font-size: 12px;
    }
    .hostImage {
      width: 40px;
      height: 40px;
    }
  }
}
@media (min-width: 768px) {
  .hostNameContainer {
    .hostName {
      font-size: 14px;
    }
    .hostImage {
      width: 48px;
      height: 48px;
    }
  }
}
@media (min-width: 1024px) {
  .hostNameContainer {
    .hostName {
      font-size: 16px;
    }
    .hostImage {
      width: 56px;
      height: 56px;
    }
  }
}
@media (min-width: 1440px) {
  .hostNameContainer {
    .hostName {
      font-size: 18px;
    }
    .hostImage {
      width: 64px;
      height: 64px;
    }
  }
}
